html {
    background-color: rgb(119, 119, 119);
}

h1{ 
    color: rgb(51, 255, 0);
}

a {
    color: rgb(0, 0, 0);
}

.botao-voltar {
        border: 2px solid rgb(85, 85, 190);
        border-radius: 5px;
        background-color: rgb(85, 85, 190);
;
}

.texto{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.paragrafo-padrao {
    background-color: #F5F5F5;

}

.paragrafo-destacado {
    background-color: #F0CCE2;

}

.prefacio {
    font-size: 12px;
    width: 300px;
    margin: auto
}