html {
    background-color: rgb(75, 74, 74);
}

h1{ 
    color: rgb(51, 255, 0);
}

a {
    color: rgb(0, 0, 0);
}
.texto{
    margin: 40px;
    padding: 20px;
}

.paragrafo-padrao {
    background-color: #F5F5F5;

}

.paragrafo-destacado {
    background-color: #F0CCE2;

}
